<h3>Satellite Counts:</h3>
<div class="counts">
  <div>
    <ul>
      <li>
        Total: <span>{{ satellites.length }}</span>
      </li>
      <li *ngFor="let sat of satList">
        Total {{ sat }}:
        <span> {{ satCount(sat, satellites) }} </span>
      </li>
    </ul>
  </div>

  <!-- <div>Communication: <span>2</span></div>
  <div>Probe: <span>2</span></div>
  <div>Positioning: <span>1</span></div>
  <div>Space Station: <span>2</span></div>
  <div>Telescope: <span>1</span></div> -->
</div>
